---
layout:           default
title:            文章列表
perScreen:        10
---

  
<article id="post-list">
 
  <h3>{{ page.title }}<span>(&nbsp;{{ site.posts | size }} 篇文章 &nbsp;)</span></h3>
  
  {% comment %}搜索引擎的js代码在模板default.html里{% endcomment %}
  <div id="cse" style="width: 50%;">加载搜索引擎...</div>
      
  		<ul class="posts">
		{% for post in site.posts limit:page.perScreen  %}
		  {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
		  {% if year != y %}
			{% assign year = y %}
			<h2 class="listing-seperator-year">{{ y }}年</h2>
		  {% endif %}
		  <li class="listing-item">
			<span>{{ post.date | date:"%Y-%m-%d" }}</span>
			<a href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
		  </li>
		{% endfor %}
		</ul>
		
		{% capture posts_num %}{{ site.posts | size }}{% endcapture %}
		{% capture posts_screen %}{{ posts_num | divided_by:page.perScreen}}{% endcapture %}
		{% if posts_screen != '0' %}
	  	<div id="morepostslink">
		<a href="#morepostslink" onclick="document.getElementById('moreposts').style.display='block';document.getElementById('archIndex').style.display='block';document.getElementById('morepostslink').style.display='none';">查看更多...</a>
		</div>			
		
		<div id="moreposts" class="indented" style="display:none;">
		 <ul class="posts">
		{% for post in site.posts offset:page.perScreen %}
		  {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
		  {% if year != y %}
			{% assign year = y %}
			<h2 class="listing-seperator-year">{{ y }}年</h2>
		  {% endif %}
		  <li class="listing-item">
			<span>{{ post.date | date:"%Y-%m-%d" }}</span>
			<a {% if forloop.first == true %} id="moreposts-first" {%endif %} href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
		  </li>
		{% endfor %}
		 </ul>
		</div>
		{% endif %}
	
</article>


<script type="text/javascript">
    $(document).ready(function(){ 
        if($('h2').length >= 2){
            var h2 = [],h3 = [],tmpl = '<ul>',h2index = 0;
            $.each($('h2,h3'),function(index,item){
                if(item.tagName.toLowerCase() == 'h2'){
                    var h2item = {};
                    h2item.name = $(item).text();
                    h2item.id = 'archIndex'+index;
                    h2.push(h2item);
                    h2index++;
                }else{
                    var h3item = {};
                    h3item.name = $(item).text();
                    h3item.id = 'archIndex'+index;
                    if(!h3[h2index-1]){
                        h3[h2index-1] = [];
                    }
                    h3[h2index-1].push(h3item);
                }
                item.id = 'archIndex' + index
            });

            //添加h1
            tmpl += '<li class="h1"><a href="#" data-top="0">'+$('h1').text()+'</a></li>';

            for(var i=0;i<h2.length;i++){
                tmpl += '<li><a href="#" data-id="'+h2[i].id+'">'+h2[i].name+'</a></li>';
                if(h3[i]){
                    for(var j=0;j<h3[i].length;j++){
                        tmpl += '<li class="h3"><a href="#" data-id="'+h3[i][j].id+'">'+h3[i][j].name+'</a></li>';
                    }
                }
            }
            tmpl += '</ul>';

            $('#contenter').append('<div id="archIndex" style="display:none;"></div>');
            $('#archIndex').append($(tmpl)).delegate('a','click',function(e){
                e.preventDefault();
                var scrollNum = $(this).attr('data-top') || $('#'+$(this).attr('data-id')).offset().top;
                window.scrollTo(0,scrollNum-30);
            })

            $(window).load(function(){
                var scrollTop = [];
                $.each($('#archIndex li a'),function(index,item){
                    if(!$(item).attr('data-top')){
                        var top = $('#'+$(item).attr('data-id')).offset().top;
                        scrollTop.push(top);
                        $(item).attr('data-top',top);
                    }
                });

                $(window).scroll(function(){
                    var nowTop = $(window).scrollTop(),index,length = scrollTop.length;
                    if(nowTop+60 > scrollTop[length-1]){
                        index = length
                    }else{
                        for(var i=0;i<length;i++){
                            if(nowTop+60 <= scrollTop[i]){
                                index = i
                                break;
                            }
                        }
                    }
                    $('#archIndex li').removeClass('on')
                    $('#archIndex li').eq(index).addClass('on')
                });
            });

            //用js计算屏幕的高度
            $('#archIndex').css('max-height',$(window).height()-80);
        }

        
    });
</script>


